.live {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  
  

  border-radius: 16px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scale {
  scale: 1.2;
}

.buttonWrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;

  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border-radius: 16px;
}
